@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: "Open Sans", sans-serif;
}

html,
body {
	height: 100dvh;
	overflow: hidden;
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

.resize-handle {
	/* width: 4px;  */
	height: calc(100dvh - 60px);
	background-color: #000;
	cursor: col-resize;
	user-select: none;
}

.resize-handle:hover {
	/* @apply bg-gray-500 */
}

.resize-handle.dragging {
	opacity: 0;
}

/* * {
	outline: 1px solid red;
} */
